* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* outline: 1px solid red; */
}

:root {
	--bg-color-header: rgba(255, 255, 255, 255);
	--bg-color-sidebar: rgba(25, 146, 212, 255);
	--bg-color-main: rgba(226, 232, 240, 255);
	--bg-color-btn-hover: rgba(204, 119, 34, 1);
}

body {
	font-family: 'Courier New', Courier, monospace;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 4fr;
	grid-template-areas:
		"sidebar header"
		"sidebar main";
	min-height: 100vh;
}

/* Header */

header {
	background-color: var(--bg-color-header);
	grid-area: header;
	padding: .5rem 3rem;
}

.search-icon {
	height: 3vh;
}

.notification {
	height: 3vh;
}

input {
	border: none;
	border-radius: 16px;
	background-color: var(--bg-color-main);
	line-height: 20px;
	padding-left: 5px;
	padding-right: 5px;
}

.header1,
.header2,
.search,
.profile {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
}

.header1 {
	grid-template-columns: 2fr 1fr;
	gap: 5rem;
	margin-bottom: 15px;
}

.header2 {
	justify-content: space-between;
}

.search {
	grid-template-columns: auto 1fr;
	gap: 10px;
}

.profile {
	justify-content: center;
	gap: 28px;
}

.profile {
	font-size: 16px;
	font-weight: 900;
}

.profile_pic {
	width: 28px;
	border-radius: 50%;
}

.main_profile_pic {
	width: 48px;
	border-radius: 50%;
}

.mainprofile {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	gap: 10px;
	font-weight: 900;
}

.welcome>p {
	font-size: 10px;
	line-height: 12px;
}

.user {
	font-size: 18px;
	line-height: 25px;
}

nav {
	display: grid;
	grid-auto-flow: column;
	gap: 16px;
}

.btn {
	border-radius: 16px;
	background-color: var(--bg-color-sidebar);
	color: var(--bg-color-header);
	border: none;
	padding: 5px;
	width: 80px;
	font-size: 14px;
	font-weight: 600;
}

.btn:hover {
	background-color: var(--bg-color-btn-hover);
}

/* Aside */
aside {
	background-color: var(--bg-color-sidebar);
	grid-area: sidebar;
	font-size: 0.7rem;
	padding: .5rem 1.4rem 1.4rem;
	min-height: 100vh;
}

.heading{
	display: grid;
	grid-auto-flow: column;
	justify-content: start;
	align-items: center;
	gap:5px;
	color: var(--bg-color-header);
	margin-bottom: 20px;
}
.heading>img{
	width : 30px;
	filter: brightness(0) invert(1);
}
.side-element{
	display: grid;
	grid-auto-flow: column;
	justify-content: start;
	align-items: center;
	gap:12px;
	color: var(--bg-color-header);
	margin-bottom: 10px;
	font-size: smaller;
	padding-left: 8px;
}
.side-element>img{
	width: 15px;
	filter: brightness(0) invert(1);
}
.side-row1{
	margin-bottom: 30px;
}
/* main */
main {
	background-color: var(--bg-color-main);
}